      *{
        margin: 0;
        padding: 0;
      }
      body{
        /*background-color: #000;*/
        /*background-color: #00334d;*/
        background-image: url(/img/7.jpg);
        background-position: top left;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      } 
      .button{
        width: 150px;
      }
      .btn_Log{
        font-size: 18px;
        border: none;
        outline: none; 
        margin-right: 5px;
        color:#fff; 
        background: transparent;
      }
      .font{
        color: #fff;
      }
      label{
        color: #fff;
      }
      h2{
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
      }
      .footer_content{
        color: #fff;
        margin-left: 5px;
        font-family: Arial;
        font-size: 10px; 
      }
      footer{
        bottom: 0;
        left: 0;
        height: 40px;
        /*position: fixed;*/
        width: 100%;
      }
      @media screen and (min-width:320px) and (max-width: 640px){
          .jumbotron{
            visibility: hidden;
          }
         footer{
            visibility: hidden;
          }
          .menu_ul{
            float: left;
            font-size: 12px;
          }
          .menu_li{
            font-size: 9px;
          }
          .dropdown{
            float: right;
          }
          .img{
            visibility: hidden;
          }
          .edit{
            margin-top: 15%;
          } 
          .user_icon{
            width: 50%;
          }
          .pane{
            width: 50%;          
          }
        }   
      .jumbotron{
        background-color: rgba(255,255,255, .6);
        margin-top: 2%;
      }
        .fab{
        height: 20px;
        width: 20px;
        margin: 5px;
        font-size: 25px;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        cursor: pointer;
        text-decoration:none;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0 .40);
      }
      .fab:hover{
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        text-decoration: none;
      }
      .fa-facebook-f{
        color: #3b5998;
      }
      .fa-facebook-f:hover{
        color: #3b5998;
      }
      .fa-google-plus-g{
        color: #dd4b39;
      }
      .fa-google-plus-g:hover{
        color: #dd4b39;
      }
      .fa-twitter{
        color: #55acee;
      }
      .fa-twitter:hover{
        color: #55acee;
      }
      .menu{
        float: right;
      }
      #pass::-webkit-input-placeholder{
        color:#000;
        background-color: #fff;
        text-transform: uppercase;
        font-style: bold;
      }
